<template name="topicsManager">
  <ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="{{pathFor 'dashboard'}}"><i class="fa fa-cubes"></i> Dashboard</a></li>
    <li><i class="fa fa-tags"></i> Categorías</li>
  </ol>
  <div class="page-header">
    <h1>Categorías <small>lista</small></h1>
  </div>
  <form id="createTopic">
      <div class="col-md-9">
        <div class="form-group">
          <input type="text" class="form-control" name="newTopicName" placeholder="Nombre de la nueva categoría" required>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> Crear nueva categoría</button>
      </div>
  </form>
  <hr>
  <div class="row">
    <div class="col-md-12">
      {{#each topics}}
        {{> topic}}
      {{else}}
        <h4>No hay categorías creadas.</h4>
      {{/each}}
    </div>
  </div>
</template>

<template name="topic">
  <div class="todo-item">
    <div class="todo-cell">
      <button type="button" class="btn btn-danger removeTopic">
        <i class="fa fa-trash"></i>
      </button>
    </div>
    <div class="todo-cell">
      <h4><i class="fa fa-tag"></i> <input type="text" value="{{name}}" class="no-style-input editable editName"></h4>
    </div>
  </div>
</template>
