
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
a{
  color: #00883C;
}
a:hover, a:active, a:focus{
  color: #03602c;
}
h1, h2{
  text-transform: uppercase;
}
.label-important{
  background-color: rgb(24, 165, 245);
}

.jumbotron, .well, .btn, .form-control,
.input-group-addon, .panel, .panel-heading, .breadcrumb,
.label{
  border-radius: 0 !important;
}
.flash-messages{
  position: fixed;
  bottom: 10px;
  right: 2%;
  z-index: 10000;
}
.flash-messages .alert{
  padding-left: 15px;
  color: #FFFFFF;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.62);
  border: none;
  border-radius: 0px
}
.flash-messages .alert button{
  color: #fff;
  top: 4px;
  opacity: inherit;
}
.flash-messages .alert::before{
  font-family: FontAwesome;
  padding-right: 10px;
  content: '\f058';
  display: inline-block;
}
.btn-file{
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file]{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 50%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
textarea{
  height: 150px !important;
  resize: none;
}
textarea:focus, input:focus{
  background-color: rgb(246, 245, 208);
}
textarea.no-style-input{
  width: 100%;
  padding: 6px 5px;
  font-size: 15px;
  line-height: 1.4;
  border: none;
  background-color: inherit;
}
textarea.no-style-input:focus{
  background-color: rgb(246, 245, 208);
}
.pre{
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.4;
  color: #000;
/*  white-space: pre;*/
}
/*.editable:focus{
  background-color: rgb(249, 248, 189);
}*/
input.no-style-input{
  border: none;
  font-size: 19px;
  height: 30px;
  background-color: inherit;
  padding: 0 5px;
}
input.no-style-input:focus{
  background-color:rgb(246, 245, 208);
}
.editable{
  color: rgb(43, 117, 184);
}
.editable:hover{
  cursor: pointer;
}
.edtiable:focus{
  cursor: text;
}
.no-editable:hover{
  cursor: not-allowed;
}
.secondary-menu{
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  padding-bottom: 20px;
  //border-radius: 4px;
  position: relative;
  top: 0;
  bottom: 0;
}
.secondary-menu h3{
  text-align: center;
  border-bottom: 1px solid #eee;
}
.justify-text{
  text-align: justify;
}
.todo-cell{
  display: table-cell;
  padding: 0 5px;
  vertical-align: middle;
}
.todo-cell-fluid{
  display: table-cell;
  padding: 0 5px;
  vertical-align: middle;
  width: 100%;
}
.todo-item{
  /*border-bottom: 1px dashed #ccc;*/
  padding: 10px;
  border-radius: 10px;
}
#todo-list{
  list-style-type: none;
  padding: 0;
}

#todo-list>li{
  border-bottom: 1px solid #f1f1f1;
}
.todo-done{
  text-decoration: line-through;
  color: #aaa;
}
.nav-tabs {
  border-bottom: 3px solid #ddd;
}
.nav-tabs{
  margin-bottom: 20px;
}
.nav-tabs > li > a {
  border-radius: 0px;
  padding: 10px 8px;
  font-size: 15px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background-color: #ddd;
}
.collapse-chevron{
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid whiteactivas;
  font-size: 25px
}
.collapse-chevron a{
  outline: inherit;
  text-decoration: none;
}
.collapse-chevron i{
  color: #666;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3px;
}
/*.panel-success{
  border-color: #8BB996;
}
.panel-success > .panel-heading{
  color: #0a531e;
  background-color: #8BB996;
  border-color: #8BB996;
}
.panel-danger{
  border-color: #C57D6D;
}
.panel-danger > .panel-heading{
  color: #6e1414;
  background-color: #C57D6D;
  border-color: #C57D6D;
}
.panel-warning{
  border-color: #ECDC86;
}
.panel-warning > .panel-heading{
  color: #ad800a;
  background-color: #ECDC86;
  border-color: #ECDC86;
}
.panel-default{
  border-color: #ebebeb;
}
.panel-default > .panel-heading{
  color: #000;
  background-color: #ebebeb;
  border-color: #ebebeb;
}*/
.badge{
  background-color: #00883C;
  font-size: 16px;
}
.activiy-controls{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 10px;
}
.selectTopic{
  cursor: pointer;
}
.paragraph-details{
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
}
