<template name="courseList">
  <ol class="breadcrumb">
    <li><a href="{{pathFor 'home'}}"> Inicio </a></li>
    <li class="active"><i class="fa fa-bookmark"></i> Cursos en oferta</li>
  </ol>
  <div class="page-header">
    <h1>Cursos en oferta <small>Listado</small></h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" id="courseSearch">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" name="courseSearch" placeholder="Buscar..." value="{{courseSearch}}">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-tag"></i></div>
            <select class="form-control" name="courseSearchTopic">
              <option value="all">Todos</option>
              {{#each topics}}
                <option value="{{_id}}" selected="{{#if equals _id courseSearchTopic}} selected {{/if}}">{{name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
        <button class="btn btn-default clearSearch"><i class="fa fa-refresh"></i> Limpiar</button>
      </form>
      <hr>
      <div class="row">
        {{#each courses}}
          {{> course2}}
        {{else}}
          <h4>No se encontraron cursos</h4>
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="course2">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <h4>
            <a href="/publishedCourse/{{_id}}"><i class="fa fa-bookmark"></i> {{name}}</a>
            <small><span class="label label-important"><i class="fa fa-tag"></i> {{topicName topic}}</span></small>
          </h4>
          <h5><strong>Creador: </strong> {{courseOwner}}</h5>
          <h5><strong>Estado: </strong>
            {{#if launched}}
              <i class="fa fa-rocket"> Lanzado</i>
            {{else}}
              {{#if published}}
                <i class="fa fa-send"> Publicado</i>
              {{else}}
                <i class="fa fa-edit"> En edición</i>
              {{/if}}
            {{/if}}
          </h5>
        </h3>
      </div>
      <div class="panel-body">
         <strong><i class="fa fa-angle-left"></i> Inicia:</strong> {{formatdate startDate}} - <strong>Finaliza:</strong> {{formatdate endDate}} <strong> <i class="fa fa-angle-right"></i></strong>
        <hr>
        <strong>Descripción:</strong>
        <p class="pre">{{truncate description 300}}</p>
      </div>
    </div>
  </div>
</template>
