<template name="coursesManager">
  <ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="{{pathFor 'dashboard'}}"><i class="fa fa-cubes"></i> Dashboard</a></li>
    <li><i class="fa fa-bookmark"></i> Cursos</li>
  </ol>
  <div class="page-header">
    <h1>Cursos <small>administración</small></h1>
  </div>
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="#insert" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-plus-square"></i> Agregar curso</a></li>
      <li role="presentation" class="active"><a href="#list" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-sort-amount-asc"></i> Listar</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="insert">
        <form id="createCourse">
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" class="form-control" name="newCourseName" placeholder="Nombre del nuevo curso" required>
              </div>
              <div class="form-group">
                  <textarea class="form-control" name="newCourseDescription" placeholder="Descripción del nuevo curso" required></textarea>
              </div>
              <div class="form-group">
                  <textarea class="form-control" name="newCourseObjetive" placeholder="Objetivo del nuevo curso" required></textarea>
              </div>
              <div class="form-group">
                <label>Categoría</label>
                <select class="form-control" name="newCourseTopic">
                  {{#each topics}}
                    <option value="{{_id}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label>Nivel</label>
                <select class="form-control" name="newCourseLevel">
                    <option value="Principiante">Principiante</option>
                    <option value="Intermedio">Intermedio</option>
                    <option value="Avanzado">Avanzado</option>
                </select>
              </div>
              <!--<div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label>Fecha de inicio</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-angle-left"></i> <i class="fa fa-clock-o"></i></div>
                      <input type="text" name="newCourseStart" class="form-control datepicker" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label>Fecha de término</label>
                    <div class="input-group">
                      <input type="text" name="newCourseEnd" class="form-control datepicker" required>
                      <div class="input-group-addon"><i class="fa fa-clock-o"></i> <i class="fa fa-angle-right"></i></div>
                    </div>
                  </div>
                </div>
              </div>-->
            </div>
            <div class="col-md-3">
              <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> Crear nuevo curso</button>
            </div>
          </div>
        </form>
      </div>
      <div role="tabpanel" class="tab-pane active" id="list">
        <div class="row">
          <div class="col-md-12">
            <form class="form-inline" id="courseSearch">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>
                  <input type="text" class="form-control" name="courseSearch" placeholder="Buscar..." value="{{courseSearch}}">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-tag"></i></div>
                  <select class="form-control" name="courseSearchTopic">
                    <option value="all">Todos</option>
                    {{#each topics}}
                      <option value="{{_id}}" selected="{{#if equals _id courseSearchTopic}} selected {{/if}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-user"></i></div>
                  <select class="form-control" name="courseSearchUser">
                    <option value="all">Todos</option>
                    <option value="mines" selected="{{#if equals 'mines' courseSearchUser}} selected {{/if}}">Mis cursos</option>
                    <option value="owner" selected="{{#if equals 'owner' courseSearchUser}} selected {{/if}}">Soy creador</option>
                    <option value="collaborator" selected="{{#if equals 'collaborator' courseSearchUser}} selected {{/if}}">Soy colaborador</option>
                  </select>
                </div>
              </div>
              <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
              <button class="btn btn-default clearSearch"><i class="fa fa-refresh"></i> Limpiar</button>
            </form>
            <hr>
            <div class="row">
              {{#each courses}}
                {{> course}}
              {{else}}
                <h4>No se encontraron cursos</h4>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<template name="course">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <h4>
            <a href="/course/{{_id}}"><i class="fa fa-bookmark"></i> {{name}}</a>
            <small><span class="label label-important"><i class="fa fa-tag"></i> {{topicName topic}}</span></small>
          </h4>
          <h5><strong>Creador: </strong>{{courseOwner}}</h5>
          <h5><strong>Estado: </strong>
            {{#if launched}}
              <i class="fa fa-rocket"> Lanzado</i>
            {{else}}
              {{#if published}}
                <i class="fa fa-send"> Publicado</i>
              {{else}}
                <i class="fa fa-edit"> En edición</i>
              {{/if}}
            {{/if}}
          </h5>
        </h3>
      </div>
      <div class="panel-body">
         <!--<strong><i class="fa fa-angle-left"></i> Inicia:</strong> {{formatdate start}} - <strong>Finaliza:</strong> {{formatdate end}} <strong> <i class="fa fa-angle-right"></i></strong>
        <br>-->
        <strong>Descripción:</strong>
        <p class="pre">{{truncate description 300}}</p>
      </div>
    </div>
  </div>
</template>
