<template name="courseView">
  <ol class="breadcrumb">
    <li>
      <a href="{{pathFor 'home'}}">
        Inicio
      </a>
    </li>
    <li>
      <a href="{{pathFor 'dashboard'}}">
        <i class="fa fa-cubes"></i>
        Dashboard</a>
    </li>
    <li>
      <a href="{{pathFor 'coursesManager'}}">
        <i class="fa fa-bookmark"></i>
        Cursos</a>
    </li>
    <li class="active">
      <i class="fa fa-bookmark-o"></i>
      {{name}}</li>
  </ol>
  <div class="page-header">
    <div class="row">
      <div class="col-md-7">
        <h1>{{name}}
          <small><span class="label label-important"><i class="fa fa-tag"></i> {{topicName topic}}</span></small>
        </h1>
        <h4>
          Creador: {{courseOwner}}
        </h4>
        {{#if published}}
          <h5><i class="fa fa-clock-o"></i> Inicio: {{formatdate startDate}} | <i class="fa fa-clock-o"></i> Fin: {{formatdate endDate}}</h5>
        {{/if}}
      </div>
      <div class="col-md-5 h1">
        {{#if isOwner}}
          <p style="text-align: right;">
            {{#if published}}
              <button class="btn btn-default" data-target="#editCourse" data-toggle="modal" type="button">
                <i class="fa fa-edit"></i>
                Editar curso
              </button>
              {{#if not launched}}
                <button class="btn btn-success" data-target="#launchCourse" data-toggle="modal" type="button">
                  <i class="fa fa-rocket"></i>
                  Lanzar curso
                </button>
              {{/if}}
              {{else}}
              <button class="btn btn-primary" data-target="#publishCourse" data-toggle="modal" type="button">
                <i class="fa fa-send"></i>
                Publicar curso
              </button>
            {{/if}}
            <button class="btn btn-danger" data-target="#removeCourse" data-toggle="modal" type="button">
              <i class="fa fa-trash"></i>
              Eliminar curso
            </button>
          </p>
        {{/if}}
      </div>
    </div>
  </div>
  {{#if published}}
    {{#if launched}}
      <div class="alert alert-success" style="text-align: center;">
        <i class="fa fa-x5 fa-rocket"></i>
        Este curso ha sido lanzado, nadie más puede inscribirse
      </div>
      {{else}}
      <div class="alert alert-info" style="text-align: center;">
        <i class="fa fa-x5 fa-send"></i>
        Este curso ha sido publicado y está recibiendo estudiantes
      </div>
    {{/if}}
  {{/if}}
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      {{#if and_1b isCollaborator  published}}
        <li role="presentation">
          <a aria-controls="home" data-toggle="tab" href="#insertActivity" role="tab">
            <i class="fa fa-plus-square"></i>
            Agregar componente</a>
        </li>
      {{/if}}
      <li class="active" role="presentation">
        <a aria-controls="home" data-toggle="tab" href="#activities" role="tab">
          <i class="fa fa-puzzle-piece"></i>
          Componentes</a>
      </li>
      <li role="presentation">
        <a aria-controls="home" data-toggle="tab" href="#details" role="tab">
          <i class="fa fa-star"></i>
          Detalles</a>
      </li>
      <li role="presentation">
        <a aria-controls="home" data-toggle="tab" href="#collaborators" role="tab">
          <i class="fa fa-users"></i>
          Colaboradores</a>
      </li>
      {{#if not published}}
        <li role="presentation">
          <a aria-controls="home" data-toggle="tab" href="#comments" role="tab">
            <i class="fa fa-comments"></i>
            Sugerencias</a>
        </li>
        <li role="presentation">
          <a aria-controls="home" data-toggle="tab" href="#log" role="tab">
            <i class="fa fa-archive"></i>
            Registro</a>
        </li>
        {{else}}
        <li role="presentation">
          <a aria-controls="home" data-toggle="tab" href="#students" role="tab">
            <i class="fa fa-mortar-board"></i>
            Estudiantes</a>
        </li>
        {{#if launched}}
        <li role="presentation">
          <a aria-controls="home" data-toggle="tab" href="#evaluations" role="tab">
            <i class="fa fa-tasks"></i>
            Actividades</a>
        </li>
        {{/if}}
      {{/if}}
    </ul>
    <div class="tab-content">

      {{#if isCollaborator}}
        <div class="tab-pane" id="insertActivity" role="tabpanel">
          <form id="createActivity">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <input class="form-control" name="newActivityName" placeholder="Nombre del nuevo componente" required type="text">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="newActivityDescription" placeholder="Descripción del nuevo componente" required></textarea>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="newActivityObjetive" placeholder="Objetivo del nuevo componente" required></textarea>
                </div>
              </div>
              <div class="col-md-3">
                <button class="btn btn-success" type="submit">
                  <i class="fa fa-plus"></i>
                  Crear nuevo componente</button>
              </div>
            </div>
          </form>
        </div>
      {{/if}}
      <div class="tab-pane active" id="activities" role="tabpanel">
        <div class="row">
          <div class="col-md-12">
              {{#each activities}}
                {{> activity}}
                {{else}}
                <h4>No se encontraron componentes</h4>
              {{/each}}
          </div>
        </div>
      </div>

      <div class="tab-pane" id="collaborators" role="tabpanel">
        <div class="row">
          <div class="col-md-12">
            {{> collaborators}}
          </div>
        </div>
      </div>

      <div class="tab-pane" id="students" role="tabpanel">
        <div class="row">
          <div class="col-md-12">
            {{#if not launched}}
              {{> students}}
            {{else}}
              <legend>Grupos</legend>
              {{#each groupsInCourse}}
                <h4>
                  <i class="fa fa-users"></i>
                  Grupo
                  {{number}}</h4>
                {{> group}}
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>

      <div class="tab-pane" id="evaluations" role="tabpanel">
        <div class="row">
          <div class="col-md-12">
              <legend><i class="fa fa-users"></i> Grupos</legend>
              <p>Escoja el grupo que quiere examinar</p>
              <select id="groupSelector" class="form-control">
                {{#each groupsInCourse}}
                  <option value="none"></option>
                  <option value="{{_id}}"> Grupo {{number}}</option>
                {{/each}}
              </select>
              {{> evaluationCal}}
          </div>
        </div>
      </div>

      <div class="tab-pane" id="details" role="tabpanel">
        <div class="row">
          <div class="col-md-12">
            <legend>Detalles del curso</legend>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <p>
              <strong>Creador:
              </strong>
              {{courseOwner}}
            </p>
            <p>
              <strong>Creado:
              </strong>
              {{formatdate createdAt}}
            </p>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <label>Categoría</label>
                <select class="form-control editTopic">
                  {{#each topics}}
                    <option selected="{{#if equals ../topic name}}selected{{/if}}" value="{{name}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-md-6">
                <label>Nivel</label>
                <select class="form-control editLevel">
                  <option selected="{{#if equals level 'Principiante'}}selected{{/if}}" value="Principiante">Principiante</option>
                  <option selected="{{#if equals level 'Intermedio'}}selected{{/if}}" value="Intermedio">Intermedio</option>
                  <option selected="{{#if equals level 'Avanzado'}}selected{{/if}}" value="Avanzado">Avanzado</option>
                </select>
              </div>
            </div>
            <hr>
            <div class="well well-sm">
              <legend>Nombre del Curso</legend>
              {{#if and_1b isCollaborator published}}
                <h4><input class="no-style-input editable editName" type="text" value="{{name}}"></h4>
                {{else}}
                <h4 class="no-editable">{{name}}</h4>
              {{/if}}
              <legend>Descripción</legend>
              {{#if and_1b isCollaborator published}}
                <textarea class="no-style-input editable editDescription" rows="4" value="{{description}}"></textarea>
                {{else}}
                <p class="pre no-editable">{{description}}</p>
              {{/if}}
              <legend>Objetivo</legend>
              {{#if and_1b isCollaborator published}}
                <textarea class="no-style-input editable editObjetive" rows="4" value="{{objetive}}"></textarea>
                {{else}}
                <p class="pre no-editable">{{objetive}}</p>
              {{/if}}
            </div>
          </div>
          <div class="col-md-4">
            {{#with courseDetails}}
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">{{collaborators}}</span>
                  <strong>
                    <i class="fa fa-users"></i>
                    Colaboradores:
                  </strong>
                </li>
                <li class="list-group-item">
                  <span class="badge">{{activeComments}}</span>
                  <strong>
                    <i class="fa fa-comments"></i>
                    Sugerencias activas:
                  </strong>
                </li>
                <li class="list-group-item">
                  <span class="badge">{{checkedComments}}</span>
                  <strong>
                    <i class="fa fa-comments-o"></i>
                    Sugerencias revisadas:
                  </strong>
                </li>
                <li class="list-group-item">
                  <span class="badge">{{rawActivities}}</span>
                  <strong>
                    <i class="fa fa-puzzle-piece"></i>
                    Nuevos componentes:
                  </strong>
                </li>
                <li class="list-group-item">
                  <span class="badge">{{pollingActivities}}</span>
                  <strong>
                    <i class="fa fa-puzzle-piece"></i>
                    Componentes en votación:
                  </strong>
                </li>
                <li class="list-group-item">
                  <span class="badge">{{goodActivities}}</span>
                  <strong>
                    <i class="fa fa-puzzle-piece"></i>
                    Componentes aceptados:
                  </strong>
                </li>
                <li class="list-group-item">
                  <span class="badge">{{badActivities}}</span>
                  <strong>
                    <i class="fa fa-puzzle-piece"></i>
                    Componentes rechazados:
                  </strong>
                </li>
              </ul>
            {{/with}}
          </div>
        </div>
      </div>

      <div class="tab-pane" id="comments" role="tabpanel">
        <div class="row">
          <div class="col-md-12">
            {{#if isCollaborator}}
              <form class="newComment">
                <div class="todo-cell" style="width: 100%;">
                  <input class="form-control" id="" name="text" placeholder="Nueva sugerencia" type="text">
                </div>
                <div class="todo-cell">
                  <button class="btn btn-success" type="submit">
                    <span class="glyphicon glyphicon-plus"></span>
                    Enviar</button>
                </div>
              </form>
              <hr>
            {{/if}}
            <div class="row">
              <div class="col-md-12">
                <legend>Sugerencias</legend>
                {{#each comments}}
                  {{> comment}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="log" role="tabpanel">
        <div class="row">
          <div class="col-md-12">
            <legend>Registro de actividades</legend>
            {{#each logs}}
              {{> log}}
            {{/each}}
          </div>
        </div>
      </div>

    </div>
  </div>
  <div aria-hidden="true" aria-labelledby="" class="modal fade" id="removeCourse" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title" id="">¿Estás seguro de eliminar este curso?</h4>
        </div>
        <div class="modal-body">
          <p>
            Curso a eliminar: <strong>{{name}}</strong>
          </p>
          <p>
            Los cambios no podrán ser revertidos
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Cancelar</button>
          <button class="btn btn-danger removeCourse" data-dismiss="modal" type="button">
            <i class="fa fa-trash"></i>
            Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  <div aria-hidden="true" aria-labelledby="" class="modal fade" id="publishCourse" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title" id="">¿Estás seguro de publicar este curso?</h4>
        </div>
        <div class="modal-body">
          <p>
            Al publicar este curso
            <strong>eliminarás</strong>:
          </p>
          <ul>
            <li>Todos las sugerencias</li>
            <li>El registro de actividades</li>
          </ul>
          <p>
            Solo se publicarán los componentes aceptados
          </p>
          <p>
            Tampoco podrás realizar cambios al curso
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-clock-o"></i> </div>
                <input type="text" name="newCourseStart" class="form-control datepicker" value="{{formatdate getStartDate}}" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <input type="text" name="newCourseEnd" class="form-control datepicker" value="{{formatdate getEndDate}}" required>
                <div class="input-group-addon"><i class="fa fa-clock-o"></i> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Cancelar</button>
          <button class="btn btn-success publishCourse" data-dismiss="modal" type="button">
            <i class="fa fa-send"></i>
            Publicar</button>
        </div>
      </div>
    </div>
  </div>
  <div aria-hidden="true" aria-labelledby="" class="modal fade" id="launchCourse" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title" id="">¿Estás seguro de lanzar este curso?</h4>
        </div>
        <div class="modal-body">
          <p>
            Al Lanzar este curso
            <strong>ya no podrás</strong>:
          </p>
          <ul>
            <li>Aceptar más estudiantes en el curso</li>
          </ul>
          <label>Fecha de término</label>

        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Cancelar</button>
          <button class="btn btn-success launchCourse" data-dismiss="modal" type="button">
            <i class="fa fa-rocket"></i>
            Lanzar</button>
        </div>
      </div>
    </div>
  </div>
  <div aria-hidden="true" aria-labelledby="" class="modal fade" id="editCourse" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title" id="">¿Estás seguro de editar este curso?</h4>
        </div>
        <div class="modal-body">
          <p>
            Al editar este curso
            <strong>perderas</strong>:
          </p>
          <ul>
            <li>Todo el progreso realizado por los estudiantes</li>
            <li>A todos los estudiantes del curso (tendran que volverse a inscribir)</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Cancelar</button>
          <button class="btn btn-success publishCourse" data-dismiss="modal" type="button">
            <i class="fa fa-edit"></i>
            Editar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="collaborators">
  {{#if and_1b isOwner ../published}}
    <h4>Invitar colaboradores</h4>
    <div class="row">
      <div class="col-md-9">
        <select class="form-control" id="userToInvite" name="userToInvite">
          {{#each usersList}}
            <option value="{{_id}}">{{profile.firstName}}
              {{profile.lastName}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-3">
        <button class="btn btn-success inviteUser" type="button">
          <i class="fa fa-plus"></i>
          Agregar nuevo colaborador
        </button>
      </div>
    </div>
    <hr>
  {{/if}}
  <legend>Colaboradores</legend>
  {{#each invited}}
    {{>collaborator}}
  {{else}}
  <h4>No hay colaboradores actualmente para este curso</h4>
  {{/each}}
</template>

<template name="collaborator">
  <div class="todo-item">
    {{#if and_1b isOwner ../../published}}
      <div class="todo-cell">
        <button class="btn btn-danger" data-target="#removeUser-{{_id}}" data-toggle="modal" type="button">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    {{/if}}
    <div class="todo-cell">
      <h4>
        <i class="fa fa-user"></i>
        {{profile.firstName}}
        {{profile.lastName}}</h4>
    </div>
  </div>
  <div aria-hidden="true" aria-labelledby="" class="modal fade" id="removeUser-{{_id}}" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title" id="">¿Estás seguro de eliminar este usuario?</h4>
        </div>
        <div class="modal-body">
          <p>
            Colaborador a eliminar: <strong>{{profile.firstName}} {{profile.lastName}}</strong>
          </p>
          <p>
            Los cambios no podrán ser revertidos
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Cancelar</button>
          <button class="btn btn-danger removeUser" type="button">
            <i class="fa fa-trash"></i>
            Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="students">
  <legend>Estudiantes</legend>
  {{#each studentsInCourse}}
    <div class="todo-item">
      <div class="todo-cell">
        <h4>
          <i class="fa fa-mortar-board"></i>
          {{profile.firstName}}
          {{profile.lastName}}</h4>
      </div>
    </div>
    {{else}}
    <h4>No hay estudiantes inscritos en este curso</h4>
  {{/each}}
</template>

<template name="group">
  {{#each studentsInGroup}}
    <div class="todo-item">
      <div class="todo-cell">
        <h4>
          <i class="fa fa-mortar-board"></i>
          {{profile.firstName}}
          {{profile.lastName}}</h4>
      </div>
    </div>
  {{/each}}
</template>

<template name="activity">
  <div class="col-lg-12">
    <div class="panel {{#if published}}{{#if lost}}panel-danger{{else}}panel-success{{/if}}{{else}}{{#if polling}}panel-warning{{else}}panel-default{{/if}}{{/if}}">
      <div class="panel-heading" role="tab">
        <h3 class="panel-title">
          <span class="pull-right">
            <div class="activiy-controls">
              {{#if and isCollaborator polling}}
                {{#if not ../published}}
                  <button class="btn voteUp {{#if isVoterUp}}btn-success{{else}}btn-default{{/if}}" type="button">
                    <i class="fa fa-thumbs-up"></i>
                    {{votersUpCount}}
                  </button>
                  <button class="btn voteDown {{#if isVoterDown}}btn-danger{{else}}btn-default{{/if}}" type="button">
                    <i class="fa fa-thumbs-down"></i>
                    {{votersDownCount}}
                  </button>
                {{/if}}
              {{/if}}

              {{#if isOwner}}
                {{#if polling}}
                  {{#if not ../published}}
                    <button class="btn btn-default stopPolling" type="button">
                      <i class="fa fa-trophy">
                        Detener votación</i>
                    </button>
                  {{/if}}
                {{else}}
                  {{#if not published}}
                    {{#if not ../published}}
                      <button class="btn btn-default startPolling" type="button">
                        <i class="fa fa-trophy"></i>
                        Empezar votación
                      </button>
                    {{/if}}
                  {{else}}
                    {{#if not ../published}}
                      <button class="btn btn-default editActivity" type="button">
                        <i class="fa fa-edit"></i>
                        Editar
                      </button>
                    {{/if}}
                  {{/if}}
                {{/if}}
                {{#if not ../published}}
                  <button class="btn btn-danger" data-target="#removeActivity-{{_id}}" data-toggle="modal" type="button">
                    <i class="fa fa-trash"></i>
                  </button>
                {{/if}}
              {{/if}}
            </div>

          </span>

          {{#if and3_1b_1c isCollaborator polling published}}
            <h4>
                <span class="collapse-chevron">
                  <a role="button" data-toggle="collapse" data-parent="#accordion-{{_id}}" href="#collapse-{{_id}}" aria-expanded="true" aria-controls="collapse-{{_id}}">
                    <i class="fa fa-chevron-down"></i>
                  </a>
                </span>
              <i class="fa fa-puzzle-piece"></i>
              <input class="no-style-input editable editName" type="text" value="{{name}}"></h4>
            {{else}}
            <h4 class="no-editable">
              <span class="collapse-chevron">
                <a role="button" data-toggle="collapse" data-parent="#accordion-{{_id}}" href="#collapse-{{_id}}" aria-expanded="true" aria-controls="collapse-{{_id}}">
                  <i class="fa fa-chevron-down"></i>
                </a>
              </span>
              <i class="fa fa-puzzle-piece"></i>
              {{name}}</h4>
          {{/if}}
        </h3>
      </div>
      <div id="collapse-{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-8">
              {{#if isCollaborator}}
                {{#if or polling published}}
                  <p>
                    <strong><i class="fa fa-thumbs-up"></i> A favor ({{votersUpCount}}):  </strong>
                    {{#each upVoters}}
                      <span class="label label-success">{{whoIs .}}</span>
                    {{/each}}
                  </p>
                  <p>
                    <strong><i class="fa fa-thumbs-down"></i> En contra ({{votersDownCount}}): </strong>
                    {{#each downVoters}}
                      <span class="label label-danger">{{whoIs .}}</span>
                    {{/each}}
                  </p>
                  <hr>
                {{/if}}
              {{/if}}
              <strong>Descripción:</strong>
              {{#if and3_1b_1c isCollaborator polling published}}
                <textarea class="no-style-input editable editDescription" rows="4" value="{{description}}"></textarea>
                {{else}}
                <p class="pre no-editable">{{description}}</p>
              {{/if}}
              <hr>
              <strong>Objetivo:</strong>
              {{#if and3_1b_1c isCollaborator polling published}}
                <textarea class="no-style-input editable editObjetive" rows="4" value="{{objetive}}"></textarea>
                {{else}}
                <p class="pre no-editable">{{objetive}}</p>
              {{/if}}
            </div>
            <div class="col-lg-4">
              {{> uploads}}
            </div>
          </div>

          <hr>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-list"></i>
                    Actividades de aprendizaje</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    {{#if and3_1b_1c isCollaborator polling published}}
                      <div class="col-md-6">
                        <legend>Crear nueva actividad</legend>
                        <form id="createEvaluation">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <select class="form-control" name="newEvaluationType">}
                                  <option value="document">Documento colaborativo</option>
                                  <option value="free_activity">Actividad libre</option>
                                </select>
                              </div>
                              <hr>
                              <div class="form-group">
                                <input class="form-control" name="newEvaluationName" placeholder="Nombre de la evaluación" required type="text">
                              </div>
                              <div class="form-group">
                                <textarea class="form-control" name="newEvaluationDescription" placeholder="Descripción de la evaluación" required></textarea>
                              </div>
                              <div class="form-group pull-right">
                                <button class="btn btn-success" type="submit">
                                  <i class="fa fa-plus"></i>
                                  Crear nueva evaluación</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    {{/if}}

                    <div class="col-md-6">
                      <h4>Actividades de Aprendizaje Colaborativas creadas</h4>
                      {{#each evaluations}}
                        {{> evaluation}}
                        {{else}}
                        <em>No se han creado actividades</em>
                      {{/each}}
                      <h4>Actividades de Aprendizaje Libres creadas</h4>
                      {{#each simple_evaluations}}
                        {{> evaluation}}
                        {{else}}
                        <em>No se han creado actividades</em>
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div aria-hidden="true" aria-labelledby="" class="modal fade" id="removeActivity-{{_id}}" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title" id="">¿Estás seguro de eliminar este componente?</h4>
        </div>
        <div class="modal-body">
          <p>
            Componente a eliminar: <strong>{{name}}</strong>
          </p>
          <p>
            Los cambios no podrán ser revertidos
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Cancelar</button>
          <button class="btn btn-danger removeActivity" type="button">
            <i class="fa fa-trash"></i>
            Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="uploads">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-files-o"></i>
        Recursos</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#files-{{_id}}" aria-controls="files" role="tab" data-toggle="tab"><i class="fa fa-file"></i> Archivos</a></li>
        <li role="presentation"><a href="#links-{{_id}}" aria-controls="links" role="tab" data-toggle="tab"><i class="fa fa-link"></i> Links</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="files-{{_id}}">
          {{#if and3_1b_1c isCollaborator polling published}}
            <span class="btn btn-default btn-file">Examinar
              <input class="fileInput" multiple name="fileInput" type="file">
            </span>
            Agregar archivo
            <hr>
          {{/if}}
          <div class="row">
            <div class="col-md-12">
              <table class="table table-hover table-striped">
                <tbody>
                  {{#each uploads}}
                    {{> upload }}
                    {{else}}
                    <em>No hay archivos subidos</em>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="links-{{_id}}">
          {{#if and3_1b_1c isCollaborator polling published}}
            <form class="createLink">
              <div class="form-group">
                <input type="text" class="form-control" id="linkName" name="linkName" placeholder="Nombre" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="linkURL" name="linkURL" placeholder="URL" required>
              </div>
              <div class="form-group" style="text-align: right">
                <button type="submit" class="btn btn-default">
                  Guardar link
                </button>
              </div>
            </form>
            <hr>
          {{/if}}
          <div class="row">
            <div class="col-md-12">
              <table class="table table-hover table-striped">
                <tbody>
                  {{#each links}}
                    {{> link }}
                    {{else}}
                    <em>No hay links guardados</em>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="upload">
  <tr class="row">
    <td class="col-md-8">
      <i class="fa fa-file"></i> {{name}}
    </td>
    <td class="col-md-2">
      <a class="btn btn-xs btn-default" href="{{url download=true}}">
        <i class="fa fa-download"></i>
      </a>
    </td>
    {{#if and3_1b_1c isCollaborator ../polling ../published}}
      <td class="col-md-2">
        <a class="btn btn-xs btn-danger removeUpload" href="#">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    {{/if}}
  </tr>
</template>

<template name="link">
  <tr class="row">
    <td class="col-md-8">
      <i class="fa fa-link"></i> {{name}}
    </td>
    <td class="col-md-2">
      <a class="btn btn-xs btn-default" href="{{url}}" target="_blank">
        <i class="fa fa-external-link"></i>
      </a>
    </td>
    {{#if and3_1b_1c isCollaborator ../polling ../published}}
      <td class="col-md-2">
        <a class="btn btn-xs btn-danger removeLink" href="#">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    {{/if}}
  </tr>
</template>

<template name="evaluation">
  <div class="todo-item">
    <div class="todo-cell">
      {{#if and3_1b_1c isCollaborator ../polling ../published}}
        <button class="deleteEvaluation btn btn-danger" type="button">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      {{/if}}
    </div>
    <div class="todo-cell">
      <p style="border-bottom: 1px solid #eee; margin-bottom: 10px;">
        <strong>Nombre: </strong>{{name}}<br>
        <strong>descripción: </strong>{{description}}<br>
      </p>
    </div>
  </div>

</template>

<template name="comment">
  <ul id="todo-list">
    <li class="todo-item">
      <div class="todo-cell" >
        {{#if or isOwner isAuthor}}
        <button class="btn btn-danger" type="button" data-target="#removeComment-{{_id}}" data-toggle="modal" >
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        {{else}}
        <span style="width:40px; display: inline-block;"></span>
        {{/if}}
      </div>
      {{#if isCollaborator}}
        <div class="todo-cell">
          <input checked="{{checked}}" class="toggleChecked" type="checkbox"/>
        </div>
      {{/if}}
      <div class="todo-cell {{#if checked}}todo-done{{/if}}" style="width: 70%;">
        {{text}}
      </div>
      <div class="todo-cell {{#if checked}}todo-done{{/if}}" style="width: 30%;">
        <i class="fa fa-user"></i>
        {{whoIs author}}
      </div>
    </li>
  </ul>
  <div aria-hidden="true" aria-labelledby="" class="modal fade" id="removeComment-{{_id}}" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title" id="">¿Estás seguro de eliminar este usuario?</h4>
        </div>
        <div class="modal-body">
          <p>
            Sugerencia a eliminar: <strong>{{text}}</strong>
          </p>
          <p>
            Los cambios no podrán ser revertidos
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Cancelar</button>
          <button class="btn btn-danger removeComment" type="button">
            <i class="fa fa-trash"></i>
            Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</template>
<template name="log">
  <ul id="todo-list">
    <li class="todo-item">
      <div class="todo-cell" style="width: 70%;">
        <i class="fa fa-check"></i>
        <strong>
          {{text}}
        </strong>
      </div>
      <div class="todo-cell" style="width: 30%;">
        <i class="fa fa-user"></i>
        {{whoIs user}}
      </div>
      <div class="todo-cell">
        {{formatdate createdAt}}
      </div>
    </li>
  </ul>
</template>

<template name="evaluationCal">
    <br>
    <legend>Estudiantes</legend>
    {{#each studentsInGroup}}
          <h5>
            <i class="fa fa-mortar-board"></i>
            {{profile.firstName}}
            {{profile.lastName}}
          </h5>
    {{/each}}
    <hr>
    {{#if isGroupSelected}}
      {{#each activities}}
        {{> activity3}}
      {{/each}}
    {{/if}}
</template>

<template name="activity3">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h3 class="panel-title">
          <h4 class="no-editable">
            <span class="collapse-chevron">
              <a role="button" data-toggle="collapse" href="#collapse2-{{_id}}" aria-expanded="true" aria-controls="collapse2-{{_id}}">
                <i class="fa fa-chevron-down"></i>
              </a>
            </span>
            <i class="fa fa-puzzle-piece"></i>
            {{name}}</h4>
        </h3>
      </div>

        <div id="collapse2-{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-8">
                <strong>Descripción:</strong>
                  <p class="pre no-editable">{{description}}</p>
                <hr>
                <strong>Objetivo:</strong>
                  <p class="pre no-editable">{{objetive}}</p>
              </div>
              <div class="col-lg-4">
                {{> uploads}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <i class="fa fa-list"></i> Actividades de Aprendizaje
                    </h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <h4>Actividades de Aprendizaje Colaborativas creadas</h4>
                        {{#each evaluations}}
                          {{> evaluationDetail2}}
                          {{else}}
                          <em>No se han creado actividades</em>
                        {{/each}}
                        <h4>Actividades de Aprendizaje Libres creadas</h4>
                        {{#each simple_evaluations}}
                          {{> simpleEvaluationDetail}}
                          {{else}}
                          <em>No se han creado actividades</em>
                        {{/each}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<template name="evaluationDetail2">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#{{_id}}" href="#{{_id}}">
          <i class="fa fa-chevron-down"></i> {{name}}
        </a>
      </h4>
    </div>
    <div id="{{_id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          <strong>Descripción</strong>
        </p>
        <p class="pre">
          {{description}}
        </p>
        <hr>
        {{#each paragraphs}}
          {{> paragraph2}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="paragraph2">
  <p>
    <strong><i class="fa fa-mortar-board"> </i> {{whoIs student}}</strong>
  </p>
      <span class="paragraph-details"><strong>Estado: </strong> {{#if checked}}<span class="label label-success">Terminado</span>{{else}}<span class="label label-info">En desarrollo</span>{{/if}}</span>

    {{#if not isMyParagraph}}
      {{#if checked}}
        {{#if didIEvaluate}}
          <span class="paragraph-details"><strong>Mi calificación: </strong> <span class="label label-warning"><i class="fa fa-star"></i> {{getScore}}</span></span>
        {{else}}
          <span class="paragraph-details"><strong>Mi calificación: </strong>{{> calificator}}</span>
        {{/if}}
        <span class="paragraph-details"><strong>Calificación total ({{nScores}}/{{nEvaluators}}):</strong> <span class="label label-info"><i class="fa fa-star"></i> {{getTotalScore}}</span></span>
      {{/if}}
      <textarea rows="4" class="form-control" value="{{content}}" disabled></textarea>
    {{/if}}
  <hr>
</template>
