<template name="publishedCourseView">
  <ol class="breadcrumb">
    <li><a href="{{pathFor 'home'}}"> Inicio </a></li>
    <li><a href="{{pathFor 'courseList'}}"> <i class="fa fa-bookmark"></i> Cursos en oferta</a></li>
    <li class="active"><i class="fa fa-bookmark-o"></i> {{name}}</li>
  </ol>
  <div class="page-header">
    <h1>{{name}}
      <small><span class="label label-important"><i class="fa fa-tag"></i> {{topicName topic}}</span></small>
    </h1>
    <h4>
      Creador: {{courseOwner}}
    </h4>
    {{#if published}}
      <h5><i class="fa fa-clock-o"></i> Inicio: {{formatdate startDate}} | <i class="fa fa-clock-o"></i> Fin: {{formatdate endDate}}</h5>
    {{/if}}
  </div>
  {{#if isInRole 'student'}}
  <div class="row">
    <div class="col-md-12">
      <p style="text-align: right;">
        {{#if not launched}}
          {{#if isRegister}}
            <button type="button" class="btn btn-danger unregisterCourse">
              <i class="fa fa-sign-out"></i> Salir del curso
            </button>
          {{else}}
            <button type="button" class="btn btn-success registerCourse">
              <i class="fa fa-sign-in"></i> Inscribirse
            </button>
          {{/if}}
        {{else}}
          {{#if not isRegister}}
            <div class="alert alert-warning" style="text-align: center;">
              <i class="fa fa-x5 fa-rocket"></i>
              Este curso ha sido lanzado, nadie más puede inscribirse
            </div>
          {{/if}}
        {{/if}}
      </p>
      <hr>
    </div>
  </div>
  {{/if}}
  <div class="row">
    <div class="col-md-12">
      {{#each activities}}
        {{> activity2}}
      {{/each}}
    </div>
  </div>
</template>

<template name="activity2">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h3 class="panel-title">
          <h4 class="no-editable">
            <span class="collapse-chevron">
              <a role="button" data-toggle="collapse" data-parent="#accordion-{{_id}}" href="#collapse-{{_id}}" aria-expanded="true" aria-controls="collapse-{{_id}}">
                <i class="fa fa-chevron-down"></i>
              </a>
            </span>
            <i class="fa fa-puzzle-piece"></i>
            {{name}}</h4>
        </h3>
      </div>
      {{#if and isRegister ../launched}}
        <div id="collapse-{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-8">
                <strong>Descripción:</strong>
                  <p class="pre no-editable">{{description}}</p>
                <hr>
                <strong>Objetivo:</strong>
                  <p class="pre no-editable">{{objetive}}</p>
              </div>
              <div class="col-lg-4">
                {{> uploads}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <i class="fa fa-list"></i> Actividades de Aprendizaje
                    </h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <h4>Actividades de Aprendizaje Colaborativas creadas</h4>
                        {{#each evaluations}}
                          {{> evaluationDetail}}
                          {{else}}
                          <em>No se han creado actividades</em>
                        {{/each}}
                        <h4>Actividades de Aprendizaje Libres creadas</h4>
                        {{#each simple_evaluations}}
                          {{> simpleEvaluationDetail}}
                          {{else}}
                          <em>No se han creado actividades</em>
                        {{/each}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <div id="collapse-{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <strong>Descripción:</strong>
                  <p class="pre no-editable">{{description}}</p>
                <hr>
                <strong>Objetivo:</strong>
                  <p class="pre no-editable">{{objetive}}</p>
              </div>
            </div>
          </div>
        </div>
      {{/if}}

    </div>
  </div>
</template>

<template name="evaluationDetail">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#{{_id}}" href="#{{_id}}">
          <i class="fa fa-chevron-down"></i> {{name}}
        </a>
      </h4>
    </div>
    <div id="{{_id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          <strong>Descripción</strong>
        </p>
        <p class="pre">
          {{description}}
        </p>
        <hr>
        {{#each paragraphs ../../_id}}
          {{> paragraph}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="simpleEvaluationDetail">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#{{_id}}" href="#{{_id}}">
          <i class="fa fa-chevron-down"></i> {{name}}
        </a>
      </h4>
    </div>
    <div id="{{_id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          <strong>Descripción</strong>
        </p>
        <p class="pre">
          {{description}}
        </p>
        <hr>
      </div>
    </div>
  </div>
</template>

<template name="paragraph">
  <p>
    <strong><i class="fa fa-mortar-board"> </i> {{whoIs student}}</strong>
  </p>
      <span class="paragraph-details"><strong>Estado: </strong> {{#if checked}}<span class="label label-success">Terminado</span>{{else}}<span class="label label-info">En desarrollo</span>{{/if}}</span>

    {{#if not isMyParagraph}}
      {{#if checked}}
        {{#if didIEvaluate}}
          <span class="paragraph-details"><strong>Mi calificación: </strong> <span class="label label-warning"><i class="fa fa-star"></i> {{getScore}}</span></span>
        {{else}}
          <span class="paragraph-details"><strong>Mi calificación: </strong>{{> calificator}}</span>
        {{/if}}
      {{/if}}
      <textarea rows="4" class="form-control" value="{{content}}" disabled></textarea>
    {{else}}
    {{#if checked}}
      {{#if didIEvaluate}}
        <span class="paragraph-details"><strong>Autocalificación: </strong> <span class="label label-warning"><i class="fa fa-star"></i> {{getScore}}</span></span>
      {{else}}
        <span class="paragraph-details"><strong>Autocalificación: </strong> {{> calificator}}</span>
      {{/if}}
      <span class="paragraph-details"><strong>Calificación total: </strong> <span class="label label-info"><i class="fa fa-star"></i> {{getTotalScore}}</span></span>
      <textarea rows="4" class="form-control" value="{{content}}" disabled></textarea>
    {{else}}
      <textarea rows="4" class="form-control editable editParagraph" value="{{content}}"></textarea>
      <p style="text-align: right; margin-top: 10px">
        <button type="button" class="btn btn-primary" data-target="#sendParagraph-{{_id}}" data-toggle="modal"><i class="fa fa-check"></i> Hecho</button>
      </p>
    {{/if}}
    {{/if}}
  <hr>
  <div aria-hidden="true" aria-labelledby="" class="modal fade" id="sendParagraph-{{_id}}" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title" id="">¿Estás seguro de querer enviar esta actividad?</h4>
        </div>
        <div class="modal-body">
          <p>
            Una vez enviada, no podrás editarla de nuevo
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Cancelar</button>
          <button class="btn btn-success toggleChecked" data-dismiss="modal" type="button">
            <i class="fa fa-send"></i>
            Enviar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="calificator">
  <form class="form-inline calificatorForm" style="display: inline-block">
  <div class="form-group">
    <select class="form-control" name="score" id="score">
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <button type="submit" class="btn btn-warning"><i class="fa fa-check"></i></button>
  </form>
</template>



<template name="uploads2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-files-o"></i> Recursos</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover table-striped">
            <tbody>
              {{#each uploads}}
                <tr class="row">
                  <td class="col-md-8">
                    {{name}}
                  </td>
                  <td class="col-md-2">
                    <a class="btn btn-xs btn-default" href="{{url download=true}}"><i class="fa fa-download"></i></a>
                  </td>
                </tr>
              {{else}}
                <em>No hay recursos</em>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
