<template name="home">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div style="margin-top: 50px">
          <img src="/images/logo_u-cscl.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-9">
        <div class="jumbotron">
          <h1>u-CSCL</h1>
          <p class="lead">La Red iberoamericana de apoyo a los procesos de enseñanza-aprendizaje de competencias profesionales a través de entornos ubicuos y colaborativos.</p>
          <a class="btn btn-lg btn-success" href="{{ pathFor 'courseList' }}">Ver cursos</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <hr>
        <a href="http://www.cyted.org/" class="btn btn-success btn-lg" target="_blank">
          <strong>CYTED</strong>
        </a>
      </div>
      <div class="col-md-4">
        <h2><i class="fa fa-users"></i> TRABAJO COLABORATIVO</h2>
        <p class="justify-text">
          Un conjunto de profesores geográficamente dispersos pueden diseñar sus cursos de manera colaborativa, planeando, diseñando y desarrollando  contenidos y evaluaciones colaborativamente.
        </p>
      </div>
      <div class="col-md-4">
        <h2><i class="fa fa-mortar-board"></i> ALUMNOS</h2>
        <p class="justify-text">
          Un grupo de alumnos podrá trabajar colaborativamente y acceder  fácilmente a contenidos y actividades desde cualquier ubicación y dispositivo., con contenidos  fáciles de usar, acceder, recuperar, fáciles de entender, fácil de recordar y estéticamente agradables.
        </p>
      </div>
    </div>
  </div>
</template>
