<template name="profile">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {{#with currentUser.profile}}
        <h3 style="text-align: center">{{firstName}} {{lastName}}</h3>
        <form method="post" id="editProfile">
          <div class="form-group">
            <label for="">Primer nombre</label>
            <input type="text" class="form-control" id="newFirstName" name="newFirstName" value="{{firstName}}">
          </div>
          <div class="form-group">
            <label for="">Segundo nombre</label>
            <input type="text" class="form-control" id="newLastName" name="newLastName" value="{{lastName}}">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">
              Guardar
            </button>
          </div>
        </form>
      {{/with}}
    </div>
  </div>
</template>
