<template name="usersManager">
  <ol class="breadcrumb">
    <li><a href="/"> Inicio</a></li>
    <li class="active"><i class="fa fa-users"></i> Users</li>
  </ol>
  <div class="page-header">
    <h1>Usuarios</h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Nombre de usuario
        </th>
        <th>
          Role
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>
            <h4>
              <i class="fa fa-user"></i>
              {{profile.firstName}}
              {{profile.lastName}}</h4>
          </td>
          <td>
             {{#with getRol _id}}
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions_{{../_id}}" data-user={{../_id}} value="admin" checked="{{equal this 'admin'}}"> Admin
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions_{{../_id}}" data-user={{../_id}} value="teacher" checked="{{equal this 'teacher'}}"> Docente
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions_{{../_id}}" data-user={{../_id}} value="student" checked="{{equal this 'student'}}"> Estudiante
              </label>
              {{/with}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
