<template name="header">

  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-navicon"></i>
        </button>
        <a class="navbar-brand " href="{{ pathFor 'home' }}">u-CSCL</a>
      </div>

      <div class="collapse navbar-collapse" id="main-nav">
          {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i>  {{currentUser.profile.firstName}} <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ pathFor 'profile' }}"><i class="fa fa-user"></i> Perfil</a></li>
                <li><a href="{{ pathFor 'atChangePwd' }}"><i class="fa fa-key"></i> Cambiar contraseña</a></li>
                <hr style="margin: 5px 0">
                <li><a href="#" data-action="logout"><i class="fa fa-lock"></i> Desconectarse</a></li>
              </ul>
            </li>
          </ul>
          {{else}}
          <div class="navbar-right">
            <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default navbar-btn">Entrar</a>
            <a href="{{ pathFor 'atSignUp' }}" class="btn btn-primary navbar-btn">Registrarse</a>
          </div>
          {{/if}}
        <ul class="nav navbar-nav navbar-right">
          <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}"><i class="fa fa-home"></i> Inicio</a></li>
          {{#if currentUser}}
            <li class="{{ isActiveRoute regex='dashboard' }}"><a href="{{ pathFor 'dashboard' }}"><i class="fa fa-cubes"></i> Dashboard</a></li>
            <li class="{{ isActiveRoute regex='courseList' }}"><a href="{{ pathFor 'courseList' }}"><i class="fa fa-bookmark"></i> Lista de cursos</a></li>
          {{/if}}
        </ul>
      </div>

    </div>
  </nav>

</template>
