<template name="oneColLayout">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->

  {{> header}}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{> flashMessages}}
        {{> yield}}
      </div>
    </div>
  </div>
  {{> footer}}
</template>
