<template name="sidebar">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-menu">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-th-large"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="secondary-menu">
      <ul class="nav nav-sidebar secondary-menu">
        <h3>MENÚ</h3>
        <!--<li><a href="{{pathFor 'dashboard'}}"><i class="fa fa-cubes"></i> Dasboard</a></li>-->
        {{#if isInRole 'admin'}}
          <li><a href="{{pathFor 'topicsManager'}}"><i class="fa fa-tags"></i> Categorías</a></li>
        {{/if}}
        {{#if isInRole 'teacher'}}
          <li><a href="{{pathFor 'coursesManager'}}"><i class="fa fa-bookmark"></i> Cursos</a></li>
        {{/if}}
        {{#if isInRole 'admin'}}
          <li><a href="{{pathFor 'usersManager'}}"><i class="fa fa-users"></i> Usuarios</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
</template>
