<template name="sidebar3">
  <div class="well well-sm">
    <legend>Descripción</legend>
    <p class="pre">{{description}}</p>
    <legend>Objetivo</legend>
    <p class="pre">{{objetive}}</p>
  </div>
</template>
