<template name="sidebar2">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-menu">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-th-large"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="secondary-menu">
      <ul class="nav nav-sidebar secondary-menu">
        <li><h4 style="padding: 10px 15px;"><i class="fa fa-tags"></i> Categorías</h4></li>
        <li><a class="selectTopic" data-id="all"><i class="fa fa-tag"></i> Todos</a></li>
        {{#each topics}}
          <li><a class="selectTopic" data-id="{{_id}}"><i class="fa fa-tag"></i> {{name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </nav>
</template>
