<template name="twoColLayout2">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->

  {{> header}}
  <div class="flash-messages">
    {{> flashMessages}}
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        {{> sidebar2}}
      </div>
      <div class="col-md-10">
        {{> flashMessages}}
        {{> yield}}
      </div>
    </div>
  </div>

  {{> footer}}
</template>
