<template name="dashboard">
  <ol class="breadcrumb">
    <li><a href="/"> Inicio</a></li>
    <li class="active"><i class="fa fa-cubes"></i> Dashboard</li>
  </ol>
  <div class="page-header">
    <h1>Dashboard <small>Administración de contenido</small></h1>
  </div>
</template>
